
body {
    background: lightblue; 
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    /* font-family: 'Fredoka One', cursive; */
}

.container
{
    position: relative;
    width: 100%;
    max-width: 1000px;
    min-height: 1000px;
    background: #f4d35e;
    margin: 50px;
    display: grid;
    grid-template-columns: 1.2fr 2fr;
    box-shadow: 0 35px 55px rgb(0, 0, 0,0.1);
}
.container .left_side
{
    position: relative;
    background: #0d3b66;
    padding: 40px;
}

.myprofile
{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 5px;
    border-bottom: 1px solid rgb(254, 252, 252);

}

.myprofile .imgA
{
    position: relative;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    /* overflow: hidden; */
}
.myprofile .imgA img
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.myprofile h2
{
    color: rgb(250, 246, 246);
    font-size: 1.5em;
    margin-top: 20px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
    line-height: 1.4em;
    font-family: 'Fredoka One', cursive;
}
.myprofile h2 span
{
    font-size: 0.8em;
    font-weight:300;
}

.contactInfo
{
    padding-top: 40px;
}
.titlecon
{
    color: rgb(245, 237, 237);
    text-transform: uppercase;
    font-weight: 600;
    font-family: 'Fredoka One', cursive;
    letter-spacing: 1px;
    margin-bottom: 10px;
}
.contactInfo ul
{
    position: relative;
}
.contactInfo ul li
{
    position: relative;
    list-style: none;
    margin: 10px;
    cursor: pointer;
}
.contactInfo ul li .titlecon
{
    display: inline-block;
    width: 30px;
    font-size: 18px;
    color: rgb(245, 245, 245);
}
.contactInfo ul li span 
{
    color: rgb(246, 240, 240);
    font-weight: 400;
}
.contactInfo ul li span a
{
    color: rgb(246, 240, 240);
    font-weight: 300;
}

.contactInfo.language .percent
{
    position: relative;
    width: 100%;
    height: 6px;
    background: gray;
    display: block;
    margin-top: 5px;
}
.contactInfo.language .percent div
{
    position: relative;
    top: 0;
    left: 0;
    height: 100%;
    background: #f4d35e;
}

.container .right_side
{
    position: relative;
    background: #f4d35e;
    padding: 20px;   
}
.title_right
{
    margin-bottom: 50px;
}
.title_right:last-child{
    margin-bottom: 0px;
}

.txt
{
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    font-weight: 600;
    font-family: 'Fredoka One', cursive;
    letter-spacing: 1px;
    margin-bottom: 10px;
}

.content_table
{
    border-collapse: collapse;
    margin: 10px 0;
    font: size 10px;
    min-width: 400px; 
}

.content_table thead tr
{
    background-color: #ee964b;
    color: #fff;
    text-align: left;
}

.content_table th,
.content_table td
{
    padding: 12px 15px;
}

.content_table tbody tr
{
    border-bottom: 1px solid #ee964b;
}

img {
    border-radius: 10px;
  }
